* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 122px 99px 96px 137px;
    color: black;
    font-family: 'Inter', sans-serif;

}

.short-title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 26px;
}

h1 {
    width: 900px;
    height: 450px;
    font-weight: 700;
    font-size: 120px;
    margin-top: 0px;
    margin-bottom: 90px;
}

.description {
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 140px;
}

.text {
    font-size: 49px;
    font-weight: 700;
}

div {
    margin-top: 72px;
    margin-left: -20px
}

div img {
    width: 390px;
    height: 210px;
    margin: 20px 15px;
}

.sub {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 140px;
}

.list {
    margin-bottom: 180px;
}

.second {
    margin-bottom: 16px;
}

img {
    width: 898px;
    height: 488px;
    margin-bottom: 80px;
}

.third {
    margin-bottom: 48px;
}